<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSCO AAPC: Transportation Plan</title>
</head>
<body>
    <h1>Add: Please Enter a Vessel Name and Its ETA</h1>
    <form action="/add-vessel" method="post">
        <label for="vessel_input">Vessel Name</label>
        <input type="text" id="vessel_input" name="vessel" placeholder="Vessel Name" required>
        <label for="ETA_input">ETA</label>
        <input type="date" id="ETA_input" name="ETA" required>
        <button type="submit" onclick="return confirm('Do you want to add?')">Add</button>
    </form>

    <h1>Manage Vessel</h1>
    <% for (var i = 0; i < vessel.length; i++) { %>
        <div>
            <a href="/update-vessel/<%= vessel[i]._id %>">Vessel: <%= vessel[i].name %>, ETA: <%= vessel[i].ETA.toDateString() %></a>
        </div>
    <% } %>



    
</body>
</html>